<% if @pairing %>

  <div id="photo_container">
    <div class="photo">
      <div class="item">
        <%= image_tag @pairing.image_file1.file.url(:large), :class => "layer1", :style => "width: #{@pairing.image_file1.image_width(:large)};" %>
        <div class="layer2">
          <%= image_tag @pairing.image_file2.file.url(:large) %>
        </div>
        <div class="overlay">
          <div class="draggable"></div>
        </div>
        <div class="row-fluid" id="photo_years">
          <div class="span4" id="image_left_year">
            <%= @pairing.image_file1.year_formatted %>
          </div>
          <div class="span4" id="image_count">
            <%= "#{@pairing_index} of #{@pairing_count}" %>
          </div>
          <div class="span4" id="image_right_year">
            <%= @pairing.image_file2.year_formatted %>
          </div>
        </div>
      </div>

    </div>
    <div class="controls left"><%= link_to '&lsaquo;'.html_safe, previous_path(@pairing.id, @param_options) %></div>
    <div class="controls right"><%= link_to '&rsaquo;'.html_safe, next_path(@pairing.id, @param_options) %></div>
  </div>

  <div id="photo_title_social">
    <div class="row-fluid">
      <div class="span6">
        <h2><%= @pairing.title %></h2>
      </div>
      <div class="span6">
        share
      </div>
    </div>
  </div>

  <div id="photo_content_container">
    <div class="row-fluid">
      <div class="span6" id="image_text">

        <%= simple_format @pairing.description %>

        <div id="image_links">
          <% if @pairing.image_file1.present? && @pairing.image_file1.district.present? %>
            <span><%= t('activerecord.attributes.image_file.district') %>:</span>
            <%= link_to(@pairing.image_file1.district, root_path(update_params({:district => @pairing.image_file1.district, :pairing => nil, :special => nil}))) %>
		      <% end %>

          <% if @pairing.image_file1.present? && @pairing.image_file1.special.present? %>
            <span><%= t('activerecord.attributes.image_file.special') %>:</span>
            <%= link_to(@pairing.image_file1.special, root_path(update_params({:special => @pairing.image_file1.special, :pairing => nil, :district => nil}))) %>
		      <% end %>
          
        </div>

        <div id="image_comments">
          <h3><%= t('.comment_header') %></h3>
          comments....
        </div>
      </div>
      <div class="span6" id="map_container">
        <div id="map"></div>    
      </div>
    </div>
  </div>
<% else %>
  <p class="no_records">
    <%= t('.no_records') %>
  </p>
<% end %>

