<% if @pairing %>

  <div id="photo_container">
    <div class="inner">

      <div class="controls left">
        <%= link_to image_tag('left_arrow.png', :alt => t('helpers.links.previous')) + image_tag('left_hover_arrow.png', :alt => t('helpers.links.previous')), 
            previous_path(@pairing.id, @param_options), :title => t('helpers.links.previous') %>
      </div>

      <div class="photo">
        <div class="item">
          <%= image_tag @pairing.image_file1.file.url(:large), :class => "layer1", 
              :'data-original-width' => @pairing.image_file1.image_width(:large) %>
          <div class="layer2">
            <%= image_tag @pairing.image_file2.file.url(:large) %>
          </div>
          <div class="overlay">
            <div class="draggable"></div>
          </div>
          <div class="row-fluid" id="photo_years">
            <div class="span4" id="image_left_year">
              <%= @pairing.image_file1.year_formatted %>
              <% if user_signed_in? && current_user.role?(User::ROLES[:user])%>
                <%= link_to t("helpers.links.edit"),
                            edit_admin_image_file_path(@pairing.image_file1_id), :class => 'btn btn-mini' %>
              <% end %>
            </div>
            <div class="span4" id="image_count">
              <%= "#{@pairing_index} / #{@pairing_count}" %>
            </div>
            <div class="span4" id="image_right_year">
              <%= @pairing.image_file2.year_formatted %>
              <% if user_signed_in? && current_user.role?(User::ROLES[:user])%>
                <%= link_to t("helpers.links.edit"),
                            edit_admin_image_file_path(@pairing.image_file2_id), :class => 'btn btn-mini' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="controls right">
        <%= link_to image_tag('right_arrow.png', :alt => t('helpers.links.next')) + image_tag('right_hover_arrow.png', :alt => t('helpers.links.next')), 
            next_path(@pairing.id, @param_options), :title => t('helpers.links.next') %>
      </div>

    </div>
  </div>

  <div id="photo_title_social">
    <div class="row-fluid">
      <div class="span7">
        <h2><%= @pairing.title %></h2>
      </div>
      <div class="span5">

        <div class="snshare">
    			<div class="fb-like" data-href="<%= current_url_no_querystring %>" data-send="false" data-layout="button_count" data-width="auto" data-show-faces="false"></div>
  			</div>

        <div class="snshare">
          <a href="https://twitter.com/share" class="twitter-share-button" data-align="right">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class="snshare">
          <!-- Place this tag where you want the share button to render. -->
          <div class="g-plus" data-action="share" data-annotation="bubble"></div>
          <!-- Place this tag after the last share tag. -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div>


        <div class="snshare">
          <a href="//pinterest.com/pin/create/button/?url=<%=u current_url_no_querystring %>&media=<%=u @pairing.stacked_img.url %>&description=<%=u @pairing.title %>" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
          <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        </div>

      </div>
    </div>
  </div>

  <div id="photo_content_container">
    <div class="row-fluid">
      <div class="span6" id="image_text">
        <% if user_signed_in? && current_user.role?(User::ROLES[:user])%>
          <div class="pull-right">
            <%= link_to t("helpers.links.edit"),
                        edit_admin_pairing_path(@pairing), :class => 'btn btn-mini' %>
          </div>
        <% end %>
    
        <%= simple_format @pairing.description %>

        <div id="image_links">
          <h3><%= t('filters.location.header') %></h3>
          <% if @pairing.image_file1.present? && @pairing.image_file1.district_id.present? %>
            <span><%= t('activerecord.attributes.image_file.district') %>:</span>
            <%= link_to(@pairing.image_file1.district_name, root_path(update_params({:district => @pairing.image_file1.district_permalink, :pairing => nil, :place => nil}))) %>
		      <% end %>
          <br />
          <% if @pairing.image_file1.present? && @pairing.image_file1.place_id.present? %>
            <span><%= t('activerecord.attributes.image_file.place') %>:</span>
            <%= link_to(@pairing.image_file1.place, root_path(update_params({:place => @pairing.image_file1.place_permalink, :pairing => nil, :district => nil}))) %>
		      <% end %>
        </div>

        <div id="image_sources">
          <h3><%= t('.source_header') %></h3>
          <span><%= t('.left_image') %>:</span>
          <%= @pairing.image_file1.source.present? ? @pairing.image_file1.source : t('.unknown_source') %>
          <%= "(#{@pairing.image_file1.year_formatted})" %>
          <br />
          <span><%= t('.right_image') %>:</span>
          <%= @pairing.image_file2.source.present? ? @pairing.image_file2.source : t('.unknown_source') %>
          <%= "(#{@pairing.image_file2.year_formatted})" %>
        </div>

        <div id="image_comments">
          <h3><%= t('.comment_header') %></h3>
          <div class="fb-comments" data-href="<%= current_url_no_querystring %>" data-num-posts="5" data-width="457"></div>
        </div>
      </div>
      <div class="span6" id="map_container">
        <div id="map"></div>    
      </div>
    </div>
  </div>
<% else %>
  <p class="no_records">
    <%= t('.no_records') %>
  </p>
<% end %>

