<%- model_class = ImageFile -%>
<%- model_class_trans = ImageFileTranslation -%>

<% if @pairing %>

  <div id="photo_container">
    <div class="inner">

      <div class="controls left">
        <% if params[:controller] == "root" && params[:action] == "index" %>
          <%= link_to image_tag('left_arrow.png', :alt => t('helpers.links.previous')) + image_tag('left_hover_arrow.png', :alt => t('helpers.links.previous')), 
              previous_path(@pairing.id, @param_options), :title => t('helpers.links.previous') %>
        <% end %>
      </div>

      <div class="photo">
        <div class="item">
          <%= image_tag @pairing.image_file1.file.url(:large), :class => "layer1", 
              :'data-original-width' => @pairing.image_file1.image_width(:large) %>
          <div class="layer2">
            <%= image_tag @pairing.image_file2.file.url(:large) %>
          </div>
          <div class="overlay">
            <div class="draggable"></div>
          </div>
        </div>
      </div>

      <div class="controls right">
        <% if params[:controller] == "root" && params[:action] == "index" %>
          <%= link_to image_tag('right_arrow.png', :alt => t('helpers.links.next')) + image_tag('right_hover_arrow.png', :alt => t('helpers.links.next')), 
              next_path(@pairing.id, @param_options), :title => t('helpers.links.next') %>
        <% end %>
      </div>

    </div>
  </div>

  <div id="photo_years">
    <div class="row-fluid">
      <div class="span4" id="image_left_year">
        <%= @pairing.image_file1.year_formatted %>
        <% if user_signed_in? && current_user.role?(User::ROLES[:user]) && params[:controller] == "root" && params[:action] == "index"%>
          <%= link_to t("helpers.links.edit"),
                      edit_admin_image_file_path(@pairing.image_file1_id), :class => 'btn btn-mini' %>
        <% end %>
      </div>
      <div class="span4" id="image_count">
        <% if params[:controller] == "root" && params[:action] == "index" %>
          <%= "#{@pairing_index} / #{@pairing_count}" %>
        <% elsif !@pairing.published %>
          <div class="not_published"><%= I18n.t('app.common.not_published') %></div>
        <% end %>
      </div>
      <div class="span4" id="image_right_year">
        <%= @pairing.image_file2.year_formatted %>
        <% if user_signed_in? && current_user.role?(User::ROLES[:user]) && params[:controller] == "root" && params[:action] == "index"%>
          <%= link_to t("helpers.links.edit"),
                      edit_admin_image_file_path(@pairing.image_file2_id), :class => 'btn btn-mini' %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="photo_title_social">
    <div class="row-fluid">
      <div class="span6">
        <h1><%= @pairing.title %></h1>
      </div>
      <div class="span6">
        <% if params[:controller] == "root" && params[:action] == "index" %>

          <%
            fb_img_url = full_url(image_path('share_photo.jpg'))
            if @pairing.present? && @pairing.thumbnail.present? && @pairing.thumbnail_file_name.present? 
	            fb_img_url = full_url(@pairing.thumbnail.url)
            end
            pin_img_url = fb_img_url
            if @pairing.present? && @pairing.stacked_img.present? && @pairing.stacked_img_file_name.present? 
	            pin_img_url = full_url(@pairing.stacked_img.url)
            end

            share_summary = truncate(@pairing.description, :length => 500, :separator => ' ', :omission => '...')
          %>
          <div>
            <span class='st_fblike_hcount' displayText='Facebook' 
              st_url="<%= current_url_no_querystring %>" 
              st_image="<%= fb_img_url %>"
              st_summary="<%= share_summary %>"
            >
            </span>
            <span class='st_twitter_hcount' displayText='Tweet' 
              st_url="<%= current_url_no_querystring %>"
              st_image="<%= fb_img_url %>"
              st_summary="<%= share_summary %>"
            >
            </span>
          </div>
          <div>
            <span class='st_pinterest_hcount' displayText='Pinterest' 
              st_url="<%= current_url_no_querystring %>" 
              st_image="<%= pin_img_url %>"
              st_summary="<%= share_summary %>"
            >
            </span>
            <span class='st_sharethis_hcount' displayText='Share' 
              st_url="<%= current_url_no_querystring %>" 
              st_image="<%= pin_img_url %>"
              st_summary="<%= share_summary %>"
            >
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="photo_content_container">
    <div class="row-fluid">
      <div class="span6" id="image_text">
        <% if user_signed_in? && current_user.role?(User::ROLES[:user]) && params[:controller] == "root" && params[:action] == "index"%>
          <div class="pull-right">
            <%= link_to t("helpers.links.edit"),
                        edit_admin_pairing_path(@pairing), :class => 'btn btn-mini' %>
          </div>
        <% end %>
    
        <div class="desc"><%= simple_format @pairing.description %></div>

        <div id="image_links">
          <div id="image_links_location">
            <h3><%= t('filters.location.header') %></h3>
            <% if @pairing.image_file1.present? && @pairing.image_file1.district_id.present? %>
              <span><%= t('activerecord.attributes.image_file.district') %>:</span>
              <%= link_to(@pairing.image_file1.district_name, root_path(:district => @pairing.image_file1.district_permalink)) %>
		        <% end %>
            <br />
            <% if @pairing.image_file1.present? && @pairing.image_file1.place_id.present? %>
              <span><%= t('activerecord.attributes.image_file.place') %>:</span>
              <%= link_to(@pairing.image_file1.place_name, root_path(:place => @pairing.image_file1.place_permalink)) %>
		        <% end %>
          </div>
          <% if @pairing.image_file1.present? && @pairing.image_file1.events.present? %>
            <div id="image_links_events">
              <h3><%= t('filters.time.events.header') %></h3>
              <% @pairing.image_file1.events.each_with_index do |event, i| %>
                <%= link_to(event.name, root_path(:event => event.permalink)) %>
                <%= i < @pairing.image_file1.events.length-1 ? "<br />".html_safe : "" %>
              <% end %>
            </div>
	        <% end %>
        </div>

        <div id="image_sources">
          <h3><%= t('.credit_header') %></h3>
          <h4><%= t('.left_image') %>:</h4>
          <ul>
            <li>
              <%= model_class.human_attribute_name(:year) %>:
              <%= @pairing.image_file1.year_formatted %>
            </li>
            <li>
              <%= model_class.human_attribute_name(:source) %>:
              <%= @pairing.image_file1.source_formatted %>
            </li>
            <li>
              <%= model_class_trans.human_attribute_name(:photographer) %>:
              <%= @pairing.image_file1.photographer_formatted %>
            </li>
          </ul>

          <h4><%= t('.right_image') %>:</h4>
          <ul>
            <li>
              <%= model_class.human_attribute_name(:year) %>:
              <%= @pairing.image_file2.year_formatted %>
            </li>
            <li>
              <%= model_class.human_attribute_name(:source) %>:
              <%= @pairing.image_file2.source_formatted %>
            </li>
            <li>
              <%= model_class_trans.human_attribute_name(:photographer) %>:
              <%= @pairing.image_file2.photographer_formatted %>
            </li>
          </ul>
        </div>

        <div id="image_comments">
          <h3><%= t('.comment_header') %></h3>
          <% if params[:controller] == "root" && params[:action] == "index" %>
            <div class="fb-comments" data-href="<%= current_url_no_querystring %>" data-num-posts="5" data-width="457"></div>
          <% end %>
        </div>
      </div>
      <div class="span6" id="map_container">
        <div id="map"></div>    
        <% if params[:controller] == "root" && params[:action] == "index" %>
          <div id="fb-popup-like-box">
            <div id="fb-popup-like-box-container">
              <h2><%= t('.fb_popup_header') %></h2>
              <p><%= t('.fb_popup_text') %></p>
                <iframe id="fb_iframe" src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/feradi.info&amp;width=450&amp;height=185&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23fff&amp;header=false" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p class="no_records">
    <%= t('.no_records') %>
  </p>
<% end %>

