<%= semantic_form_for([:admin,@pairing], :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_messages %>


  <div class="row-fluid">

    <div class="span6">
      <div class="row-fluid">
        <div id="galleriffic1" class="span5">
          <div class="controls"></div>
          <div class="loading"></div>
          <div class="slideshow"></div>
          <div class="caption"></div>
          <div id="galleriffic1-thumbs">
            <input type="hidden" name="pairing[image_file1_id]" value="<%= @pairing.image_file1_id %>" />
            <ul class="thumbs clearfix">
              <% @imagefiles.each do |x| %>
                <li data-value="<%= x.id %>" data-href="<%= admin_pairings_near_url(:id => x.id, :lat => x.lat.to_s, :lon => x.lon.to_s) %>">
                  <a class="thumb" name="<%= x.name %>" href="<%= x.file.url(:large) %>" title="<%= x.name %>">
                    <img src="<%= x.file.url(:thumb) %>" alt="<%= x.name %>" />
                  </a>
                  <!--<div class="caption"></div>-->
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="galleriffic1-image" class="gallerific-image span7"></div>
      </div>
    </div>

    <div class="span6">
      <div class="row-fluid">
        <div id="galleriffic2" class="span5">
          <div class="controls"></div>
          <div class="loading"></div>
          <div class="slideshow"></div>
          <div class="caption"></div>
          <div id="galleriffic2-thumbs">
          <% if !@pairing.id.nil? %>
            <input type="hidden" name="pairing[image_file2_id]" value="<%= @pairing.image_file2_id %>" />
            <ul class="thumbs clearfix">
              <% x = @pairing.image_file2 %>
              <li data-value="<%= x.id %>">
                <a class="thumb" name="<%= x.name %>" href="<%= x.file.url(:large) %>" title="<%= x.name %>">
                  <img src="<%= x.file.url(:thumb) %>" alt="<%= x.name %>" />
                </a>
                <!--<div class="caption"></div>-->
              </li>
            </ul>
          <% end %>
          </div>
        </div>
        <div id="galleriffic2-image" class="gallerific-image span7"></div>
      </div>
    </div>

  </div>



	<%#= f.input :image_file1, :as => :select, :collection => ImageFile.sorted.map{|x| ["#{x.name} (#{x.year})", x.id]} %>
	<%#= f.input :image_file2, :as => :select, :collection => ImageFile.sorted.map{|x| ["#{x.name} (#{x.year})", x.id]} %>

  <% @pairing.pairing_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
		<%= f.fields_for :pairing_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :title, :input_html => {:size => 75} %>
				<%= translation.input :description, :input_html => {:rows => 4} %>
				<%= translation.input :long_description, :input_html => {:rows => 4} %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

	<%= f.input :published, :as => :radio %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_pairings_path, :class => 'btn btn-mini btn-warning' %>
  </div>

<% end %>
