          <div id="galleriffic2-thumbs">
            <input type="hidden" name="pairing[image_file2_id]" />
            <ul class="thumbs clearfix">
              <% @imagefiles.each do |x| %>
                <li data-value="<%= x.id %>">
                  <a class="thumb" name="<%= x.name %>" href="<%= x.file.url(:large) %>" title="<%= x.name %>">
                    <img src="<%= x.file.url(:thumb) %>" alt="<%= x.name %>" />
                  </a>
                  <!--<div class="caption"></div>-->
                </li>
              <% end %>
            </ul>
          </div>
