<%- model_class = Pairing -%>
<%- model_class_trans = PairingTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_pairing_path,
            :class => 'btn btn-primary' %>
</div>

<table class="table table-striped display" id="pairings-datatable" data-source="<%= admin_pairings_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:image_file1_id) %></th>
      <th><%= model_class.human_attribute_name(:image_file2_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

