<%= semantic_form_for @pairing, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_messages %>

  <% @pairing.pairing_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
		<%= f.fields_for :pairing_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :title %>
				<%= translation.input :description, :input_html => {:rows => 4} %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

	<%= f.input :image_file1, :as => :select %>
	<%= f.input :image_file2, :as => :select %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pairings_path, :class => 'btn btn-mini btn-warning' %>
  </div>

<% end %>
