<%- model_class_if = ImageFile -%>
<%= semantic_form_for([:admin,@image_file], :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_messages %>

    <% @image_file.image_file_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
		  <%= f.fields_for :image_file_translations, trans do |translation| %>

			  <div id="form-<%= trans.locale %>" class="multilanguage">
				  <h3><%= t("app.language.#{trans.locale}") %></h3>

				  <%= translation.input :name, :input_html => {:size => 75} %>
      		<%= translation.input :photographer, :input_html => {:size => 75} %>
				  <%= translation.input :description, :input_html => {:rows => 4} %>
				  <%= translation.hidden_field :locale , :value => trans.locale %>
			  </div>

		  <% end %>
	  <% end %>

    <hr />

		<%= f.input :file, :as => :file %>
		<div class="control-group">
			<div class="controls">
				<%= image_tag @image_file.file.url(:thumb) if @image_file.file_file_name %>
			</div>
		</div>

		<%= f.input :year, :as => :string, :input_html => {:size => 5, :maxlength => 4} %>
		<%= f.input :source, :input_html => {:size => 75} %>
		<%= f.input :add_watermark, :as => :radio %>

    <hr />

		<div class="control-group">
			<div class="controls">
        <div id="map_get_latlon"></div>    
			</div>
		</div>
    
		<%= f.hidden_field :lat  %>
		<%= f.hidden_field :lon %>

    <hr />

		<%= f.input :district_id, :as => :select, :collection => @districts.map{|x| [x.name, x.id]} %>
		<%= f.input :place_id, :as => :select, :collection => @places.map{|x| [x.name, x.id]} %>

    <div class="check_boxes control-group optional" id="image_file_events_input">
      <label class=" control-label">
        <%= model_class_if.human_attribute_name(:events) %>
      </label>
      <input id="image_file_events_none" name="image_file[event_ids][]" type="hidden" value="">
      <div class="choices controls">
        <% @events.each do |event| %>
          <label class="choice checkbox" for="<%= "image_file_event_ids_#{event.id}"%>">
            <input id="<%= "image_file_event_ids_#{event.id}"%>" name="image_file[event_ids][]" type="checkbox" 
              value="<%= event.id%>" <%= @image_file.image_file_events.index{|x| x.event_id == event.id}.nil? ? '' : "checked=checked" %>>
            <%= event.name %>
          </label>
        <% end %>
      </div>
    </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_image_files_path, :class => 'btn btn-mini btn-warning' %>
  </div>

<% end %>
