<%- model_class = ImageFile -%>
<%- model_class_trans = ImageFileTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_image_file_path,
              :class => 'btn btn-primary' %>
</div>

<table class="table table-striped display" id="images-datatable" data-source="<%= admin_image_files_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class_trans.human_attribute_name(:photographer) %></th>
      <th><%= model_class.human_attribute_name(:district_id) %></th>
      <th><%= model_class.human_attribute_name(:place_id) %></th>
      <th><%= model_class.human_attribute_name(:event_ids) %></th>
      <th><%= model_class.human_attribute_name(:file) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


